<div id="sn-handle">
    <div class="sn-mini-button">
        <svg class="sn-icon" viewBox="0 0 100 100">
            <use xlink:href="#icon-hear" />
        </svg>
    </div>
    <div class="sn-slide-back">
        <svg class="sn-icon" viewBox="0 0 100 100">
            <use xlink:href="#snicon-close" />
        </svg>
    </div>
</div>
<div id="sn-mobile-faded-background"></div>

<div id="sn-mobile-panel-wrapper">
    <div id="sn-mobile-panel"></div>
</div>
