//colors
$underline: #777;
$black: #000;
$grey: #333;
$white: #fff;

$tipBackground: #172029;

$decreaseColor: #d32e5a;
$increaseColor: #85b12c;

$accentColor-1: #1798be;
$accentColor-2: #314459;


$dataPointsGrey: #646d73;
$dataPointsGrey-Light: #878c8d;

$heat: #714693;
$sentiment: #3277de;

$error: #f95c5c;
