@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(https://www.google.com/fonts#UsePlace:use/Collection:Droid+Sans:400,700);
.sn-desktop-insert {
  display:inline-block;
  width:100%;
  font-size: 12px;
  font-family: 'Droid Sans', sans-serif;
  font-weight: 700;
  color: #fff;
  background: $tipBackground;
}